body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn-outline-success {
  margin: 0px;
}
.row-sm-6
{
  margin-bottom: 10px;
}
.row-sm-4
{
  margin-top: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.d-flex div{
  padding: 1rem;
  background-color: #99DBD3;
  color: black;
  text-align: center;

}
.card1,.card3
{
  border-radius: 10px;
  box-shadow: 10px 10px 5px grey;
  margin-top: 50px;
  margin-right: 50px;
}
.card2,.card4
{
  box-shadow: 10px 10px 5px grey;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 50px;
}